

body {
    background-color: #F4F4F8;
    
}


.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 100vh);
    font-family: 'Nunito', sans-serif;
}


.topHome{
    display: inline;
    grid-column: 1/-1;
    text-align: left;
    position: relative;
    top: 200px;
    padding-left: 100pt;
    height: 100vh;
    font-size: x-large;
    word-break: normal;
}

.lower1Home{
    background:  #F4F4F8;
    background-position-y: top 20pt;
    grid-column: 1/4;
    padding-left: 100pt;
    font-size: x-large;
}

.innerLower{
    position: sticky;
    top: 0;
}

.lower2Home{
    font-size: x-large;
    background:  #F4F4F8;
    grid-column: 4/-1;
    padding-left: 50pt;
    padding-right: 100pt;
}
/* yosemite image */

.lower2Home > img{
    width: 100%;
}

.midHome1{
    padding-top: 24pt;
    background:  #F4F4F8;
    background-position-y: top 20pt;
    grid-column: 1/4;
    padding-left: 100pt;
    font-size: x-large;
}

.innerMid{
    position: sticky;
    top: 0;
}

.midHome2{
    padding-top: 24pt;
    font-size: x-large;
    background:  #F4F4F8;
    grid-column: 4/-1;
    padding-left: 50pt;
    padding-right: 100pt;
}

.midHome2 > img{
    width: 100%;
}


.bottomHome1{
    background: #F4F4F8;
    background-position-y: top 20pt;
    grid-column: 1/4;
    padding-left: 100pt;
    font-size: x-large;
}

.bottomHome2{
    padding-top: 24pt;
    font-size: x-large;
    background:  #F4F4F8;
    grid-column: 4/-1;
    padding-left: 50pt;
    padding-right: 100pt;
}

/* responsive attributes */

@media screen and (max-width: 900px){
    .container{
        display: flex;
        justify-content: center;
        font-family: 'Nunito', sans-serif;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){
    .topHome{

        text-align: left;
        position: relative;
        top: 100px;
        padding-left: 50pt;
        padding-right: 50pt;
        height: 100vh;
        font-size: large;
        word-wrap: normal;
        white-space: normal;
        
    }
    .topHome > h1 > react-reveal{
        word-wrap: break-word;
    }
}

@media screen and (max-width: 900px){
    .lower1Home{
        text-align: left;
        font-size: large;
        padding-left: 50pt;
        padding-right: 50pt;
    

    }
}

@media screen and (max-width: 900px){
    .innerLower{
        top: 0;
        position: sticky;
        font-size: large;
    }
}
@media screen and (max-width: 900px){
    .lower2Home{
        padding-left: 50pt;
        padding-right: 50pt;

    }
}

@media screen and (max-width: 900px){
    .midHome1{
        padding-left: 50pt;
        padding-right: 50pt;
        font-size: large;
    }
}

@media screen and (max-width: 900px){
    .midHome2{
        padding-left: 50pt;
        padding-right: 50pt;

    }
}

@media screen and (max-width: 900px){
    .bottomHome1{
        padding-left: 50pt;
        padding-right: 50pt;
        font-size: large;
    }
}

@media screen and (max-width: 900px){
    .bottomHome2{
        padding-left: 50pt;
        padding-right: 50pt;

    }
}

/* 768 px media queries */

@media screen and (max-width: 768px){
    .container{
        display: flex;
        justify-content: center;
        font-family: 'Nunito', sans-serif;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .topHome{
        text-align: left;
        position: relative;
        top: 50px;
        padding-left: 20pt;
        padding-right: 20pt;
        height: 100vh;
        font-size: medium;   
    }
    
}
@media screen and (max-width:768px){
   .bottomTopHome{
       position: sticky;
       top: 0;
   }
}
@media screen and (max-width: 768px){
    .lower1Home{
        text-align: left;
        font-size: medium;
        padding-left: 20pt;
        padding-right: 20pt;
    }
}
@media screen and (max-width:768px){
   .innerLower{
       position: sticky;
       top: 0;
   } 
}

@media screen and (max-width: 768px){
    .lower2Home{
        padding-left: 20pt;
        padding-right: 20pt;

    }
}

@media screen and (max-width: 768px){
    .midHome1{
        padding-left: 20pt;
        padding-right: 20pt;
    }
}

@media screen and (max-width: 768px){
    .midHome2{
        padding-left: 20pt;
        padding-right: 20pt;
    }
}

@media screen and (max-width: 768px){
    .bottomHome1{
        padding-left: 20pt;
        padding-right: 20pt;
    }
}

@media screen and (max-width: 768px){
    .bottomHome2{
        padding-left: 20pt;
        padding-right: 20pt;
    }
}